<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Card Viewer</title>
</head>
<body>
  <div class="Card" id="card">
    <div class="CoverImage">
      <img id="image" />
    </div>
    <div class="Avatar">
      <img id="avatar" />
    </div>
    <button class="Follow" id="follow-btn">
      Follow
    </button>
    <div class="PostContent" id="content">
    </div>
  </div>
  <script src="/javascripts/card.js">
  </script>
</body>
</html>
