<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Card Viewer</title>
</head>
<body>
  <div class="CardForm">
    <input type="number" name="card-num" id="card-num" value="1" min="1" max="100"/>
    <button id="set-card-btn">View Card</button>
    Currently viewing <span id="current-card-num">...</span>
  </div>
  <div class="Card" id="card">
    <div class="CoverImage">
      <img id="image" />
    </div>
    <div class="Avatar">
      <img id="avatar" />
    </div>
    <button class="Follow" id="follow-btn">
      Follow
    </button>
    <div class="PostContent" id="content">
    </div>
  </div>
  <script src="/javascripts/card.js"></script>
</body>
</html>
