<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}

.Card {
  width: 600px;
  height: 600px;
  box-shadow: 0px 0px 10px grey;
}

.CoverImage {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Avatar {
  border-radius: 10px;
  top: 225px;
  left: 50px;
  height: 150px;
  width: 150px;
  background-color: lime;
  position: absolute;
}

.Avatar img {
  width: 100%;
  height: 100%;
}

.Follow {
  background-color: white;
  border-color: purple;
  float: right;
  margin: 15px 25px;
  padding: 5px 25px;
  border-radius: 5px;
}

.Follow:hover {
  background-color: purple;
  color: white;
}

.PostContent {
  height: 50%;
  padding: 100px 75px 0 75px;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fill img {
  flex-shrink: 0;
  min-height: 100%;
  min-width: 100%;
}

</style>
  <title>Card Viewer</title>
</head>
<body>
  <div class="Card" id="card">
    <div class="CoverImage fill">
      <img id="image" />
    </div>
    <div class="Avatar fill">
      <img id="avatar" />
    </div>
    <button class="Follow" id="follow-btn">
      Follow
    </button>
    <div class="PostContent" id="content">
    </div>
  </div>
  <script src="/javascripts/card.js">
  </script>
</body>
</html>
